body {
  font-family: sans-serif;
  padding: 100px;
  text-align: center;
  color: #275DAD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading {
  font-size: 32px;
}

#title {
  font-size: 24px;
}

#location {
  font-size: 18px;
}

#controls {
  display: flex;
  flex-direction: column;
}

#controls button,
#controls input {
  height: 50px;
  width: 100px;
  margin: 20px;
  border-radius: 25px;
}
